  <div class="container">
    <footer class="white-section" id="footer">
      <hr>

        <a class="social-icon" href="https://www.instagram.com/sybrenplanting/?hl=en"><i class="social-icon fa fa-instagram fa-5" aria-hidden="true"></i></a>
        <a class="social-icon" href="https://www.gmail.com"><i class="social-icon fa fa-envelope fa-5" aria-hidden="true"></i></a>

        <p>© 2022 SybrenPlanting </p>

    </footer>
</div>
