  <%# <div class="container"> %>
    <footer id="footer">
      <hr>

        <a class="social-icon" href="https://www.instagram.com/sybrenplanting/?hl=en"><i class="social-icon fa fa-instagram fa-5" aria-hidden="true"></i></a>
        <a class="social-icon" href="https://vimeo.com/sybrenplanting"><i class="social-icon fa fa-vimeo fa-5" aria-hidden="true"></i></a>

        <p>© 2022 Sybren Planting </p>

    </footer>
<%# </div> %>
