<div class="bodyDiv">
  <div class="embedVid">
    <iframe src="https://player.vimeo.com/video/448605431?h=f3d5013a3a&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>CLIENT: TOM VAN DEN BOGAARD</p>
      <p>AGENCY: MONSTER ENERGY</p>
      <p>PRODUCTION COMPANY: VIGICS</p>
      <br>
      <p>DIRECTOR: SYBREN PLANTING</p>
      <p>EXECUTIVE PRODUCER: DWIGHT GROOT</p>
      <p>PRODUCER: ROCHÉ WONG</p>
      <p>DIRECTOR OF PHOTOGRAPHY: ZEEGER VERSCHUREN</p>
      <p>CPT LINE PRODUCTION: HACIENDA FILMS</p>
      <p>CPT LINE PRODUCER: JESSICA SCHIPPERS</p>
      <p>POST PRODUCTION: THE COMPOUND</p>
      <p>EDITOR: JOSHUA MENCO</p>
      <p>MUSIC & SOUNDDESIGN: SOUNDSRIGHT</p>
      <p>GRADING: RUBEN LABREE</p>
    </div>
  </div>
</div>
