<div class="bodyDiv">
  <div class="embedVid">
    <iframe src="https://player.vimeo.com/video/672692031?h=c4f72194d3&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>ARTIST: DYLAN VAN DAM</p>
      <br>
      <p>DIRECTOR: SYBREN PLANTING</p>
      <p>CAMERA OPERATOR PRODUCER: SYBREN PLANTING</p>
      <p>POST PRODUCTION: SYBREN PLANTING</p>
    </div>
  </div>
</div>
