<div class="bodyDiv">
    <div class="embedVid">
      <iframe src="https://player.vimeo.com/video/729987181?h=0a009f273e&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="credits">
        <p>CLIENT: THE PUMP FACTORY</p>
        <br>
        <p>CAMERA OPERATOR: SYBREN PLANTING</p>
        <p>POST PRODUCTION: SYBREN PLANTING</p>
      </div>
    </div>
</div>
