<div class="bodyDiv">
  <div class="embedVid">
    <iframe title="vimeo-player" src="https://player.vimeo.com/video/604848994?h=e5c5caefa0&byline=0&portrait=0" width="1162" height="648" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>CLIENT: NALU</p>
      <p>AGENCY: BTS</p>
      <p>PRODUCTION COMPANY: NALUINC</p>
      <br>
      <p>DIRECTOR: SYBREN PLANTING</p>
      <p>EXECUTIVE PRODUCER: DWIGHT GROOT</p>
      <p>PRODUCER: ROCHÉ WONG</p>
      <p>DIRECTOR OF PHOTOGRAPHY: ZEEGER VERSCHUREN</p>
      <p>CPT LINE PRODUCTION: HACIENDA FILMS</p>
      <p>CPT LINE PRODUCER: JESSICA SCHIPPERS</p>
      <p>POST PRODUCTION: THE COMPOUND</p>
      <p>EDITOR: JOSHUA MENCO</p>
      <p>MUSIC & SOUNDDESIGN: SOUNDSRIGHT</p>
      <p>GRADING: RUBEN LABREE</p>
    </div>
  </div>
</div>
