<div class="container">
  <div class="embedVid">
    <iframe src="https://player.vimeo.com/video/684403360?h=cd6aa00625&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>CLIENT: MONSTER ENERGY, MONSTER ENERGY BENELUX: ROY VAN KEMPEN, ELIN BLANKE</p>
      <p>TALENT: TOM VAN DEN BOGAARD</p>
      <p>PRODUCTION COMPANY: SYBREN PLANTING</p>
      <br>
      <p>DIRECTOR: SYBREN PLANTING, STEIJN LEIJZER</p>
      <p>CAMERA: SYBREN PLANTING, STEIJN LEIJZER</p>
      <p>EDIT: SYBREN PLANTING, STEIJN LEIJZER</p>
      <br>
      <p>ADDITIONAL CAMERA: ROBIN RUITENBERG</p>
      <p>FPV DRONE: RALPH HOGENBIRK</p>
      <p>PHOTOGRAPHY: SYO VAN VLIET, BART DE JONG</p>
      <p>SOUND MIX & DESIGN: JASON DEGRAW</p>
      <p>TITLE DESIGN: NICKY VAN DER VEEN</p>
      <p>GRADING: @i_am_nikolaii</p>
      <p>MUSIC: JESPFUR, MOON</p>
      <br>
      <p>RAMP DESIGN: PIM VAN DEN BOS</p>
      <p>RAMP BUILDERS: MAX CLEUREN, FRITS VAN DER LINDEN, DENNIS 'PAAP' JANSSEN, STEVEN GÖRTEMÖLLER</p>
      <br>
      <p>SPECIAL THANKS: TOMS FAMILY, ARJAN ELLENS, PAUL DE JONG, SEM KOK, PIM SCHEERS, MILAN TENBÜLT, ERIK VAN DE WARDT, LEVI WEIDMANN, MARK VAN DEN BOGAARD</p>
    </div>
    <%# INSERT STILLS %>
    <div class="stills">
      <div class="still">
          <%= image_tag "tomvb-still1.png", class: "still", title: "TomVanDenBogaard" %>
        </div>
      <div class="still">
        <%= image_tag "tomvb-still2.png", class: "still", title: "TomVanDenBogaard" %>
      </div>
    </div>
  </div>
</div>
