<div class="bodyDiv">
  <div class="embedVid">
    <iframe src="https://player.vimeo.com/video/450078474?h=bb6fb23d32&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>DIRECTOR: STEIJN LEIJZER</p>
      <p>CAMERA OPERATORS: STEIJN LEIJZER, SYBREN PLANTING</p>
      <br>
      <p>GAFFER: WIEGERT DE VRIES</p>
      <p>POST PRODUCTION: STEIJN LEIJZER</p>
      <p>TALENT: TOM VAN DEN BOGAARD</p>
    </div>
    <div class="stills">
      <div class="still">
          <%= image_tag "tomvbmonster-still.png", class: "still", title: "tomvbmonster" %>
       </div>

        <div class="still">
          <%= image_tag "tomvbmonster-still2.png", class: "still", title: "tomvbmonster-2" %>
        </div>
    </div>
  </div>
</div>
