.embedVid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

.imgTile {
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

.imgTile:hover {
  opacity: 0.8;
}

// Credits Pages
.credits {
  padding: 4em;
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.6em;
  color: #222;
  font-size: 0.8750em;
}

// Media breakpoints (screen resizing everything below 600px (phones) will recieve settings
 @media (max-width: 600px) {
  iframe {
    height: fit-content;
    // padding-bottom: 1rem;
  }
  .embedVid {
    padding-bottom: 1rem;
  }
 }

 // Ipad sizing (size of iframe videos)
 @media (min-width:601px) and (max-width:991px) {
  iframe {
    height: 21.875rem;
    padding: 0.625rem;
  }
 }
