.embedVid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

// Media breakpoints (screen resizing everything below 600px (phones) will recieve settings
 @media (max-width: 600px) {
  iframe {
    height: fit-content;
    padding-bottom: 1rem;
  }
 }
