// Single Video Page Section
.embedVid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

// add stills + to resize
.stills {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .still {

// }

// Index / home page Section

// tiles/video links
.tiles {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

.tile_title {
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.2em;
  font-family: 'Smooch Sans', sans-serif;
  font-style: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
}

.imgTile {
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

.imgTile:hover {
  opacity: 0.8;
}

// Credits Pages
.credits {
  padding: 4em;
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.6em;
  color: #222;
  font-size: 0.8750em;
}

// Media breakpoints (screen resizing everything below 600px (phones) will recieve settings
 @media (max-width: 600px) {
  iframe {
    height: fit-content;
  }
  .imgTile {
    object-fit: cover;
    width: 20.875rem;
    height: 17rem;
  }
  .tiles {
    text-align: center;
  }
  .credits {
    letter-spacing: 0.1em;
    line-height: 1em;
  }
  .tile_title {
    font-size: 1em;
  }
 }

 // Ipad sizing (size of iframe videos)
 @media (min-width:601px) and (max-width:700px) {
  iframe {
    height: 21.875rem;
  }
  .imgTile {
    width: 30.875rem;
    height: 27rem;
  }
  .tile_title {
    font-size: 1.3em;
  }
 }

  // Small Laptop (size of iframe videos)
  @media (min-width:701px) and (max-width:1170px) {
    .imgTile {
      width: 43rem;
      height: 40rem;
    }
    .tile_title {
      font-size: 1.5em;
    }
   }
