// General placement of all pieces of nav bar (Name + links)
.navbar {
  padding-top: 0.8em;
  padding-bottom: 0.5rem;
}

// Navbar links
.titleLink {
  color: black;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 2em;
  letter-spacing: 0.2rem;
  &:hover {
    color:rgb(48, 25, 52);
  }
}

.tagline {
  color: grey;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;

  &:hover {
    color:rgb(48, 25, 52);
  }
}

// #titles {
//   justify-content: space-around;
// }

.nav-item {
  padding:1rem;
  a {
    color: grey;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 1.2rem;
  }
  a:hover {
    color: black;
  }
}

// media queries (resizing)
// All devices up to a width of 575 px = Most mobile Phones
@media (max-width: 575.98px) {
  .navbar {
    display: flex;
    padding-top: 0.8em;
    padding-bottom: 0.5rem;
  }
  .titleLink {
    font-size: 1.9rem
  }
  .nav-item {
    padding-right: 0;
    margin-right: 0;
  }
  #titles {
    display: flex;
    flex-wrap: inherit;
    align-items: revert;
    text-align: left;
  }
  .navbar-toggler {
    margin-left: 80% !important;
  }
  .tagline {
    font-size: 1.6rem;
  }
  .nav-items {
    display: contents;
  }
}

// small phone screen
@media (max-width: 400px) {
  .navbar {
    padding-top: 0.8em;
    // padding-bottom: 0.5rem;
  }
  .nav-item {
    padding-right: 0;
    margin-right: 0;
  }
  .nav-item a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  #titles {
    display: flex;
    flex-wrap: inherit;
    align-items: revert;
    text-align: left;
    }
  .navbar-toggler {
    margin-left: 80% !important;
  }
  .tagline {
    font-size: 1.3rem;
  }
  .nav-items {
    display: contents;
  }
}

// Everything below normal 11-12inch laptop (tablet, big phone etc)
@media (min-width: 700px) {
  .navbar {
    padding-top: 1em;
    padding-bottom: 0.9rem;
  }
  .titleLink {
    margin-left: 0;
    padding-left: 0;
    font-weight:200;
  }
  .nav-item {
    padding-right: 0;
  }
}

// screns smaller than 1300 px
@media (max-width: 1300px) {
  .navbar {
    padding-top: 1em;
    padding-bottom: 0.9rem;
  }
  .titleLink {
    margin-left: 0;
  }
  .nav-item {
    padding-right: 0;
  }
}
