.navbar {
  padding-top: 0.8em;
  padding-bottom: 0.5rem;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color:black;
  }
}


.navbar-brand {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  margin-left: 2em;
}

.nav-item {
  padding:1rem;
  a {
    color: grey;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: lighter;
  }
}

.nav-link {
  a{
    color: lightgray;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: lighter;
  }

}

.navbar-toggler {
  color: black;
}
