// General placement of all pieces of nav bar (Name + links)
.navbar {
  padding-top: 0.8em;
  padding-bottom: 0.5rem;
}

// Navbar links
.titleLink {
  color: black;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  margin-left: 2em;
  &:hover {
    color:rgb(48, 25, 52);
  }
}

.nav-item {
  padding:1rem;
  a {
    color: grey;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: lighter;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}

// .nav-item:active {
//   a {
//     color: black;
//   }
// }

// <%= 'active' if current_page?(contact_path) %>
// <%= 'active' if current_page?(root_path) %>
