//
.layout {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  font-family: 'Smooch Sans', sans-serif;
  padding: 2em;
}

// Styling + font + position of title
.title {
  text-align: center;
  justify-content: center;
  font-family: 'Smooch Sans', sans-serif;
  padding: 2.5rem;
  h2 {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
}

// Styling + font + position of contact text ( email, address )
.contactText {
  h5 {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
  }
}

// Ensures text is in a box with space around the outside of it (the text)
.textBox {
  justify-content: space-around;
}

// Styling + position of image setting the general size (affected by resiziing on different sized devices - more below)
.contactImage {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

// Image section
.imageText {
  display:flex;
  align-items: center;
  justify-content: end;
}

// Media Breakpoints (when screen is resized ie. for Iphone / Samsung, tablets etc (smaller/larger)
// All devices up to a width of 575 px = Most mobile Phones
@media (max-width: 575.98px) {
  .layout {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    font-family: 'Smooch Sans', sans-serif;
    padding: 2em;
  }
  .contactImage {
    width: 110%;
    height: 110%;
  }
  .footerContainer {
    margin-top: 10rem;
  }
  .contactText, h5 {
    font-size: 0.7rem;
  }
}

// Everything below normal 11-12inch laptop (tablet, big phone etc)
@media (max-width: 1200px) {
  .imageLayout{
    display:flex;
    align-items: center;
    justify-content:end;
  }
  .contactText h5 {
    font-size: 1rem;
    letter-spacing: 0.23rem;
    font-weight: bolder;
  }
  .footerContainer {
    margin-top: 10rem;
  }
  .title, h2 {
      font-size: 1.7rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
}

// Sets image to be stuck close to contact-text on screens larger than 1300px (most laptops)
@media (min-width: 1300px) {
  .imageLayout{
    display:flex;
    align-items: center;
    justify-content:end;
  }
}
